/* reset p/ navegador */
* {
    margin: 0 ; 
    padding: 0; /* espaçamento */
}
body{
    width: 100%; /* comprimento */
    height: 100%; /* altura */ 
    display: flex;
    justify-content: center;
    background-color: rgb(205, 220, 202);
}
.imagem {
    display: flex;
    justify-content: center;
}
.imagem img{ /*img src foto do avatar*/
    width: 170px;
    border: 200px;
    margin-top: 30px;
}
.nome{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    color: rgb(58, 58, 95);   /*cor para texto*/
    font-family: Arial, Helvetica, sans-serif;
}
.redes-sociais{
    display: flex;
    margin-top: 10px; /* margem superior*/
    justify-content: center;/*centralizar o texto*/
    align-items: center;
}
.redes-sociais a{
    text-decoration: none;
}
.icone, .email{
    height: 35px;
    width: 35px;
    border-radius: 30px;
    transition: all 0.3s ease-out;
    box-shadow: 0 5px  5px rgb(194, 42, 42); /*caixa de sombra*/
    margin: 15px;
    overflow: hidden; /*efeito mascara*/
}
.icone i, .email i{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center; /* alinhar texto */
    font-size: 22px;
    border-radius: 30px;
    background-color: rgb(176, 199, 199);
    color: #6b94c0; /*cor do texto*/
    cursor: pointer;
}
.icone span a{
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    float: right;
    margin-right: 23px;
    color: blueviolet;
    font-size: 17px;
    line-height: 35px; 
}
.icone:hover{
    width: 125px;
    background-color: rgb(199, 210, 220);
}
.texto{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 50px 30px; 
    font-family: 'victor mono' monospace;
    font-size: 20px;
    text-align: justify;
    width: 700px; ;
    height: 200px;
    padding:  50px;
    border-radius:24px;
    color: rgb(237, 233, 233);
    background: rgb(3, 26, 62);
    overflow: hidden;
    box-shadow: 0 3px rgb(0,0,0, .1);
}
.sobre-mim{
    position: absolute ;
    top: 15px;
    display: flex;
    color: whitesmoke ;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    text-align:center;
     font-size: 30px; 
    line-height: 35px;

}
.subtitulo{
    font-weight: 600;
    color: rgb(38, 38, 87);
    font-family: Arial, Helvetica, sans-serif
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin-top: 45px;
    margin-bottom: 15px ;
}
.linguagem{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.linguagem img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
.projetos {
    margin-top: 40px;
    flex-direction: column;

}
.item {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(87, 87, 114);
    border: 1px solid rgb(63, 197, 246);
    border-radius: 50px;
    width:570px ;
    height:60px ;
    font-size: 22px;
    background: rgb(232, 227, 214);
    box-shadow: 0 5px 5px rgba(248,15,15,1);
}
.item:hover {
    transition: 0.2s;
    background-color: rgb(166, 228, 190);
}
#movie{
    padding: 15px;
    margin: auto;
    display: none;
}
#movie.active {
    display: block;
    
}
.rodape p {
    color: #1a4994;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 50px ;
    font-family: 'Metal Mania', cursive;
}

/* Recursos que Renderiza o conteudo do site e adapte para diverças resoluções */ 

/*  resolução 700px  */
@media (max-width: 700px) {
    .imagem img {
        width: 150px;
        border-radius: 200px;
        margin-top: 25px;
    }
    .texto {
        width: 300px;
        height: 500px;
    }
    .linguagem img{
        width: 165px;
    }
    .subtitulo {
        font-size: 30px;
    }
    .item {
        width: 350px;
    }
    #movie {
        width: 350px;
    }
} /*  resolução 700px  */


@media (max-width: 500px) {
    .imagem img{
        width: 120px;
        margin-top: 30px;
    }
    .nome {
        font-size: 40px;
    }
    .texto {
        padding: 22px;
        width: 250px;
        height: 700px;
        margin-top: 35px;
    }
    .subtitulo {
        margin-top: 35px;
        font-size: 20px;
    }
    .item {
        width: 260px;
        height: 40px;
        margin-top: 12px;
    }
}
/*    */
@media (min-width: 700px) and (orientation: landscape)
    {

    }